@import"https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body {
    background-color: #E7EBF0;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    color: #414B5A;
    padding: 80px 20px 0 20px;
}

.title h1 {
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: 900;
}

.class {
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #414B5A;
    padding: 40px 100px;
}

.logo {
    width: 130px;
    height: 130px;
    position: relative;
    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    border-radius: 20px;
    transition: 0.2s ease-in-out all;
}

.logo svg{
    position: absolute;
    top: 53%;
    left: 53%;
    transform: translate(-50%, -50%);
    /* -webkit-box-shadow: 5px 5px 15px 5px rgba(55,77,109,0.5);  */
    /* box-shadow: 5px 5px 15px 5px rgba(55,77,109,0.5); */
    /* filter: drop-shadow(5px 5px 10px rgb(255 255 255 / 1)) drop-shadow(5px 5px 15px rgb(55 77 109 / 0.5)); */
    /* -webkit-filter: drop-shadow(5px 5px 15px rgb(55 77 109 / 0.5)); */
}

.logo:hover svg path{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}

.logo.web:active {
    transform: scale(1);
}

.logo.design:active {
    transform: scale(1);
}

.logo.robo:active {
    transform: scale(1);
}

.logo.prog:active {
    transform: scale(1);
}

.logo.threeD:active {
    transform: scale(1);
}



.logoPng {
    position: absolute;
    top: 53%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.web {
    box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A8BFC4;
}

.logo:hover {
    transform: scale(1.1);
}

.design {
    box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #B3A6BD;
}

.robo {
    box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A8AFCA;
}

.prog {
    box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #A6BDB6;
}

.threeD {
    box-shadow: -15px -15px 30px #FAFBFF, 15px 15px 30px #BDABA6;
}

.classTitle {
    margin-bottom: 10px;
    margin-top: 30px;
}


.classes {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    margin-top: 50px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer img {
    width: 100px;
    padding-bottom: 20px;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }